<!DOCTYPE html>
<html>
  <head>
    <title>Lists</title>
    <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js"></script>
  </head>
  <body>
    <div id="root"></div>
    <script type='text/babel'>
    class ListCourses extends React.Component {
      render() {
        return <div>
                    <h1>{this.props.title}</h1>
                    <ul>
                      <li>ReactJS</li>
                      <li>AngularJS</li>
                      <li>Express</li>
                      <li>NodeJS</li>
                    </ul>
                </div>;
      }
    }

    class ListCourses2 extends React.Component {
      render() {
        var courses = ['React', 'Angular', 'Express', 'Node'];
        var liElement = [];

        for (var course of courses) {
          liElement.push(<li>{course}</li>)
        }

        return <div>
                    <h1>{this.props.title}</h1>
                    <ul>{liElement}</ul>
               </div>
      }
    }

// how to dynamically generate html via jsx and js
    class ListCourses3 extends React.Component {
      render() {
        var courses = ['React', 'Angular', 'Express', 'Node'];

        return <div>
                    <h1>{this.props.title}</h1>
                    <ul>{courses.map(course => <li>{course}</li>)}</ul>
               </div>
      }
    }

      ReactDOM.render(
        <div>
          <ListCourses3 title='List of Courses'/>
        </div>
      , document.getElementById('root'))
    </script>
  </body>
</html>